{% extends 'base.html.twig' %} {# Template permettant d'afficher les livres par catégorie #}

{% block title %}{{ category.name }}| Livres en ligne {% endblock %}

{% block body %}
    <div class="row mt-5">
    	<div class="col-12 col-md-8 offset-md-1">
            <h1 class="text-center uppercase">Catégorie :  {{ category.name }}</h1>
		    <div class="mb-3">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice mb-3 text-success">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </div>
	    </div>
    </div>
    <div class="row  mb-5 text-dark">
            {% include ("include/include.html.twig") %}
    </div>
{% endblock %}

